body {
    background-color: #eee;
    margin: 0;
    font-family: Poppins
}

.mp-box {
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
}

a {
    text-decoration: none;
    color: #333;
    transition: color 0.7s;
}

a:hover {
    color: #777;
}

.mp-link {
    font-family: "DM Serif Text";
    font-size: 32;
}

#title-box {
    background: url(/assets/mp_bg.png) no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: fit-content;
    position: relative;
}

#title-center-box {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
}

#title {
    font-family: "Nanum Gothic Coding";
    font-size: 100;
    color: white;
    text-shadow: -6px 0px black, 6px 0px black, 0px 6px black, 0px -6px black;
}

.block {
    min-height: 600px;
    padding: 20px 60px;
    position: relative;
}

.block-title {
    font-family: 'Nanum Gothic Coding';
    font-size: 56;
    margin-bottom: 80px;
}

.fig-box {
    height: 100%;
    width: fit-content;
}

.fig {
    margin: 0px 0px 25px 0px;
}

.fig > img {
    border: 6px solid #222;
    border-radius: 4px;
    height: 400px;
}

.fig > figcaption {
    text-align: center;
    margin-top: 10px;
    font-size: 21px;
}

p {
    font-size: 24px;
    text-align: justify;
    margin-top: 0px;
}

.color-label {
    color: white;
    padding: 20px;
    width: fit-content;
}

ul {
    font-size: 24;
    list-style-type: "🞴";
}

li::before {
    color: #555;
}

li {
    padding-left: 20px;
    margin-top: 20px
}
